<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework_Module">

    <test name="Framework_Module">
        <parameter name="browser" value="chrome">

        </parameter>
        <classes>
            <class name="org.example.testCases.TC_LoginTest_001">
            <methods>
                <include name="loginTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>